AndroidMVP/.gradle
AndroidMVP/build/
AndroidMVP/.idea/


# Ignore Gradle GUI config
AndroidMVP/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
AndroidMVP/!gradle-wrapper.jar
